*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(-45deg, #c80b0b, #e93131, #000000, #23d5ab);
	background-size: 400% 500%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  /*background-color: #B73030;*/
  color: white;
  font-family: "Montserrat";
  
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/*Header Styles*/
.signupbtn{
  width: 5rem;
  height: 2rem;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 10px;
}
.signuptext{
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.signupbtn:hover{
  background-color: #3a3a3a;
}
.header_nav{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  z-index: 10;
}
.proimg{
  width: 1.6rem;
}
.probg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
}
nav{
  height: 3vh;
  position: sticky;
  top: 0;
}
.navbarlinks{
  flex: 0;
  display: flex;
  gap: 1rem;
}
.probg:hover{
  transition: 700ms;
  background-color: rgba(43, 43, 43, 0.568);
}
.dk{
  display: inline;
}
.mob{
  display: none;
}
.nav-link{
    text-decoration: none;
    color: white;
}
/* Hover Animation*/
._text {
  position: relative;
  color: white;
  cursor: pointer;
  --active: 0; /* Declare the variable */
}

._text:hover {
  --active: 1; /* Change the value on hover */
}

._text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Start from the center */
  transform: translateX(-50%) scaleX(calc(var(--active)));
  transform-origin: center; /* Expand outward from the center */
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.39);
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}
/*Hover animation end*/
@media (max-width : 460px) {
  .dk{
    display: none;
  }
  .mob{
    display: inline;
  }
  
  .navbarlinks{
    font-size: 0.8rem;
  }
  .header_nav{
    padding: 1rem;
  }
  .probg{
    width: 0;
    height: 0;
  }
}
#logo{
  width: 6rem;
}
/*Hero section home*/
mark{
  background-color: #ffffff;
}


.hero-home{
  width: 100%;
  z-index: 0;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-shadow: -10px 4px rgba(0, 0, 0, 0.116);
}
#home{
  animation-name: load-in;
  animation-duration: 3s;
  animation-delay: 100ms;
}
.hero-text{
  font-weight: 800;
  font-size: 4rem;
}
.calltoaction{
  display: inline;
}
.callaction{
  color: rgb(0, 0, 0);
  text-decoration: none;
  
}
.callaction:hover{
  transition-duration: ease-in 2s;
  text-decoration: underline
}
@keyframes load-in{
  0%{
    opacity: 0;
    transform: translateY(40%);
  }
  100%{
    opacity: 1;
    transform : translateY(0%);
  }
}
/*Landing page*/

.about-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  animation: animate-on-load linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;

}
@keyframes animate-on-load{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.about-text{
  font-size: 2rem;
  font-weight: 800;
}
@media screen and (max-width : 700px){
  #about-image{
    display: none;
  }
}
/*Features Card*/
._features{
  height: 80vh;
  animation: animate-on-load linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
  padding-top:10rem;
}
.features-card{
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.363);
  background-color: rgba(19, 19, 19, 0.185);
  height: 40vh;
  width: 20vw;
  box-shadow: 0px 0px 15px rgba(207, 207, 207, 0.068);
  padding: 1rem;
}
.features-frame{
  display: flex;
  gap: 1rem;
  padding: 2rem;
  flex-direction: row;
  justify-content: space-around;
  
}
.features-header{
  font-weight: 800;
  padding-bottom: 2rem;
  font-size: 1.4rem;
}
.features-body{
  color: rgba(255, 255, 255, 0.74);
  font-size: 1rem;
  font-weight: 200;
}
.features-text{
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
}
.features-desc{
  text-align: center;
  padding-top: 2rem;
  color: rgba(255, 255, 255, 0.514)
}


/*Grid Design for sessions*/
.gridLayout{
  display: grid;
  grid-template-columns: 16rem 1fr;
  height: 100vh;
  position: relative;
}
.left-column{
    box-shadow:5px 1px 15px #00000028;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 12vh;
    height: 100%;
    width: 16rem;
}
.right-column{
  padding: 20px;
  overflow-y: auto;
  margin-left: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
}
.left-column ul{
  list-style-type: none;
}
.left-column li{
  padding: 6px;

}
.hamlinks ._line{
  display: inline;
  width: 1rem;
  height: 0.13rem;
  top: 0;
  background-color: white;
}
.hamlinks:hover ._line{
  width: 1.5rem;
  transition: ease-in 0.2s;
}
.left-column .hamlinks{
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.left-column .hamlinks:hover{
  color: rgba(255, 255, 255, 0.726);
}

/*SessionCard*/
.sessioncard{
  width: 20rem;
  background-color: #1C1C1C;
  height: 10rem;
  border-radius: 40px;
  padding: 1.8rem;
  position: relative;
}
.session-header{
  font-weight: 600;
  padding-bottom: 10px;
}
.session-desc{
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.507);
}
.session-details{
  padding-top: 35px;
  font-size: 0.8rem;
}
.joinbtn{
  float: right;
  width: 5rem;
  border-radius: 20px;
  height: 2rem;
  background-color: white;
  position: absolute;
  right: 30px;
  bottom : 40px;
  color:black; 
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
}
.joinbtn:hover{
  background-color: rgba(255, 255, 255, 0.658);
  cursor: pointer;
}


/*Community Post*/
.post-card{
  width: 80%;
  background-color: #1C1C1C;
  padding: 2rem 3rem  2rem 2rem;
  border-radius: 10px;
  margin-bottom: 40px;
}
.user-post{
  font-weight: 600;
  padding-bottom: 20px;
}
.post-content{
  font-weight: 200;
  color: rgba(255, 255, 255, 0.644);
}
.right-column-post{
  overflow-y: auto;
  margin-left: 30rem;

}
.left-column-post{
  box-shadow:5px 1px 15px #00000028;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 12vh;
  height: 100%;
  width: 16rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1rem;

}
.left-column-post textarea{
  max-width: 14rem ;
  background-color: #1C1C1C;
  border: #1C1C1C;
  padding: 1rem;
  border-radius: 25px;
  color: white;
}
#newcommpost{
  width: 10rem;
  height: 2.5rem;
  margin-top: 10px;
  background-color: #1C1C1C;
  color: white;
  font-weight: 600;
  outline: none;
  border: solid 1px rgba(99, 99, 99, 0.473);
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
}
#newcommpost:hover{
  background-color: #2c2c2c;
}
/*Profile Page*/
.profileframe{
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilecard{
  box-shadow: 0px 0px 10px black;
  padding: 2rem;
  font-weight: 600;
  line-height: 40px;
  height: auto;
  width: 30vw;
  border-radius: 20px;
  background-color:#1c1c1c;
}
.semcard{
  box-shadow: 0px 0px 10px black;
  padding: 2rem;
  font-weight: 600;
  line-height: 40px;
  height: 60vh;
  width: 30vw;
  border-radius: 20px;
  background-color:#1c1c1c;
}
/*Footer Design*/
.footer-frame{
  background-color: rgba(255, 255, 255, 0.036);
  border-top: solid 1px rgba(255, 255, 255, 0);
  box-shadow:0px 0px 8px #1c1c1c4d;
  padding: 5px;
  text-align: center;
  font-size: 10px;
  color: rgb(192, 190, 190);
}
